In [ ]:
#if, elif, else
if True:
    print("it's true")

In [ ]:
x=True
if x:
    print('x is true')
else:
    print('x is flase')

In [ ]:
name= 'tushar'

if name =='tanusha':
    print('my name is tanusha')
elif name=='tushar':
    print('my name is tushar')
else:
    print('what is your name')

In [ ]:
# for loops,
numbers= list(range(0,11))
print(numbers)

In [ ]:
for items in numbers:
    print(items)

In [ ]:
# module % gets the remainder

17%2

In [ ]:
14%2

In [ ]:
# if and else statements in for loop

for num in numbers:
    if num%2==0:
        print('this',(num),'is an even number')
    else:
        print('this',(num),'is an odd number')

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
listsum = 0
for num in list1:
    listsum= listsum + num
    print(listsum)

In [ ]:
list2 = [(2,4),(6,8),(10,12)]
for a,b in list2:
    print(a)
    print(b)

In [ ]:
d = {'k1':1,'k2':2,'k3':3}
for a in d.keys():
    print(a)
print(d.items())

In [ ]:
# while loops
x = 1

while x <= 11:
    print('value of x is',x)
    x= x+1
else:
    print('value of x is greater than', x)

In [ ]:
# continue, break, pass

x=0

while x<4:
    print('Now x is: ',x,)
    print(' x is still less than 4 adding 1 to x')
    x+= 1
    
    if x==3:
        print ('currently x is: ',x)
        
    else:
        print('asdhhbf')

In [ ]:
for k in 'tanusha':
    print(k)

In [ ]:
list1={1:2,3:4,6:5}

In [ ]:
list(list1.keys())

In [9]:
#while loop

x= 0

while x<10:
    print('Hi i am ',x,' and i am less than 10')
    print("So i'll add one more to me\n")
    x+=2
else:
    print("i'll be greater than 10 if i add one more, so iam done")

Hi i am  0  and i am less than 10
So i'll add one more to me

Hi i am  2  and i am less than 10
So i'll add one more to me

Hi i am  4  and i am less than 10
So i'll add one more to me

Hi i am  6  and i am less than 10
So i'll add one more to me

Hi i am  8  and i am less than 10
So i'll add one more to me

i'll be greater than 10 if i add one more, so iam done

In [12]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [19]:
name='tushar'
print("hi my name is {} and my age is {} and i am from {}".format(name))

IndexError: Replacement index 1 out of range for positional args tuple

In [22]:
# formating using %s, .format() and f
print('i am %s to the %s now'%('going','park'))

i am going to the park now

In [29]:
# formating using %s
print('i am %s and i am %s years old'%('tushar','15'))

i am tushar and i am 15 years old

In [28]:
name = 'tushar'
age= '15'
print(f'i am %s and i am %s years old'%(name,age))

i am tushar and i am 15 years old

In [35]:
# formatting using %s and %r and %d
print('i am %s'%('Tushar'))
print('i am %s'%('Tushar \t and i am cool'))
print('i am %r'%('Tushar'))
print('i am %r'%('Tushar \t and i am cool'))
print('i wrote %r code today'%3.75)
print('i wrote %d code today'%3.75)

i am Tushar
i am Tushar 	 and i am cool
i am 'Tushar'
i am 'Tushar \t and i am cool'
i wrote 3.75 code today
i wrote 3 code today

In [43]:
# 5.2f % format also multiple formating
print('Floating point numbers:%10.2f' %(61.144))
print('my name is %s and my age is %3.2f and my book name is %r and %d' %('tushar',14.445,'harry potter',3.22))

Floating point numbers:     61.14
my name is tushar and my age is 14.45 and my book name is 'harry potter' and 3

In [53]:
# formating using .format

print('my name is {} and my age is {}.'. format('tushar','14'))
print("the {1} {0} {2}.".format('brown','scary','fox'))
print('First: {a}, second: {b}, Third: {c}'.format(a=2,b='babu',c=2.2))
print('First: {a}, second: {a}, Third: {a}'.format(a='abu',b='babu',c='cacu'))

my name is tushar and my age is 14.
the scary brown fox.
First: 2, second: babu, Third: 2.2
First: abu, second: abu, Third: abu

In [22]:
# padding, allignment and percision using .format 

print('{0:.<10}|{1:.^10}|{2:.>6}'.format('tanu','manu','dhanu'))

tanu......|...manu...|.dhanu

In [87]:
# using f as formating 
age=14.123
print(f'my age is: {age:{5}.{7}}')
print(f"my age is:{age:{10}.{3}}")

my age is: 14.123
my age is:      14.1

In [93]:
# enumerate

for a,b in enumerate('abcde'):
    print("At index {} the letter is {}".format(a,b))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [94]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [99]:
'x' in ['x','y','z']

True

In [100]:
'x' not in ['x','y','z']

False

In [102]:
mylist = [10,20,30,40,100]
print(min(mylist))
print(max(mylist))

10
100

In [2]:
# list comprehensions

abc = [x for x in ('abce')]

In [3]:
abc

['a', 'b', 'c', 'e']

In [8]:
abc = [x**2 for x in range(0,11) if x %2 ==0]

In [9]:
abc

[0, 4, 16, 36, 64, 100]

In [12]:
abc = [10,20,30,40]
cba = [(3/7)*x for x in abc ]
print(cba)

[4.285714285714286, 8.571428571428571, 12.857142857142856, 17.142857142857142]