In [ ]:
#if else and elif 
hungry=True

if hungry:
    print('feed me')
else:
    print('GTf out of my face')

In [ ]:
game ='uncharted'

if game =='god of war':
    print('best game')
else:
    print('i wont play this piece of garbage')

In [ ]:
name='bitoo'
if name=='tushar':
    print('this guy is the best and is the youngest son of SanjayKMisra and Shrada Misra')
elif name == 'bitoo'or name=='dhananjaya':
    print('he is the second son')
elif name== 'gaurav'or name=='gondu gatta':
    print('he is the firstborn')
elif name== 'tanu'or name=='tanusha'or name=='Tanusha':
     print('chachi ki chori')
else:
    print('not an ofspring of Sanjay and Sharda')

In [1]:
# for loop 
numbers=[1,2,3,4,5,6,7,8,9,10]
for items in numbers:
    print('items')

items
items
items
items
items
items
items
items
items
items

In [2]:
myList=[1,2,3,4,5,6,7,8,9,10]
#check for even numbers in a list
for num in myList:
    if num % 2==0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [ ]:
list_sum=0
for num  in myList:
    list_sum= list_sum + num**2
    print(list_sum)

In [ ]:
for _ in 'ter ma ki jay':
    print(_)

In [ ]:
tup=(1,2,3,4,5)
for item in tup:
    print(item)

In [ ]:
tuplist=[(1,2),(3,4),(5,6),(7,8)]
for a,b in tuplist:
    print(a) or print(b)

In [ ]:
d={'a':1,'b':2,'c':3,'d':4}
for a,b in d.items():
    print(a) and print(b)

In [12]:
x=1
while x<10:
    print(f"the current value of x is {x}")
    x=x+x
else:
    print('x is not lesser than 10')

the current value of x is 1
the current value of x is 2
the current value of x is 4
the current value of x is 8
x is not lesser than 10

In [14]:
#pass, break and continue 
ab=[1,2,3]
for item in ab:
    pass
print('end of my script')

end of my script

In [31]:
abc='hello world'
for item in abc:
    if item =='o'or item=='w':
        break
    print(item)

h
e
l
l

In [38]:
# range generator
num=[]
for itme in range(10):
    num.append(itme)

In [39]:
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
for item in range(1,20,3):
    print(item)

1
4
7
10
13
16
19

In [48]:
abc=list(range(1,20,3))

In [49]:
abc

[1, 4, 7, 10, 13, 16, 19]

In [50]:
index_count=0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))
    index_count= index_count+1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [61]:
#enumerate function
word='abcde'

for a,b in enumerate(word):
    print(a)
    print(b)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [62]:
#zip
m=[1,2,3]
n=['a','b','c']

for item in zip(m,n):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [63]:
list(zip(m,n))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [66]:
# in,min, max
'x' in [1,2,3]

False

In [67]:
abc=[10,20,30,40,50,60]
min(abc)

10

In [68]:
abc=[10,20,30,40,50,60]
max(abc)

60

In [72]:
# random is the inbuilt library in python, shuffle, randint, input
from random import shuffle

In [82]:
abc=[1,3,2,4,255,3,35,3,53,5]

In [83]:
shuffle(abc)

In [84]:
abc

[1, 2, 5, 4, 35, 3, 3, 3, 255, 53]

In [85]:
from random import randint

In [86]:
randint(0,188)

116

In [88]:
randint(0,188)

65

In [89]:
randint(0,188)

129

In [90]:
input('enter a number here:')

enter a number here:50

'50'

In [94]:
# input only accepts strings
result= input('what is your name?:')

what is your name?:Tshar

In [95]:
result

'Tshar'

In [96]:
age= input('what is your age:')

what is your age:30

In [98]:
type(age)

str

In [99]:
age= int(input('what is your age:'))

what is your age:30

In [100]:
type(age)

int

In [101]:
age= float(input('what is your age:'))

what is your age:35

In [103]:
type(age)

float

In [3]:
# list comprehensions
string='Tushar'
mylist=[]
for item in string:
    mylist.append(item)

In [4]:
mylist

['T', 'u', 's', 'h', 'a', 'r']

In [5]:
# easier way if doing the above
mylist=[item for item in string]

In [6]:
mylist

['T', 'u', 's', 'h', 'a', 'r']

In [9]:
ddmx=[x for x in 'dhananjaya']

In [10]:
ddmx

['d', 'h', 'a', 'n', 'a', 'n', 'j', 'a', 'y', 'a']

In [17]:
number= [num**2 for num in range(0,11)]

In [18]:
number

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
x= [num for num in range(0,11) if num%2== 0]

In [23]:
x

[0, 2, 4, 6, 8, 10]

In [24]:
number= [2,3,4,5]
square=[(x**2)for x in number]

In [25]:
square

[4, 9, 16, 25]