In [3]:
my_income = 10000
my_expenses = 50
tax_rate = 0.2
net_income = (my_income - my_expenses)*tax_rate
net_income

1990.0

In [4]:
print('hello \nworld')
print('hello \tworld')
len('hello world')

hello
world
hello 	world

11

In [5]:
mystring=('Hello World')
mystring[2]

'l'

In [8]:
mystring='abcdefghijkl'
mystring[1:8:2]

'bdfh'

In [7]:
'Hello World'[0]

'H'

In [9]:
name = 'Sam'
last_letters=name[1:]
'P'+last_letters

'Pam'

In [10]:
x = 'jatin is a good man'
y = ' but he is also a phugga'
x+y

'jatin is a good man but he is also a phugga'

In [11]:
x*10

'jatin is a good manjatin is a good manjatin is a good manjatin is a good manjatin is a good manjatin is a good manjatin is a good manjatin is a good manjatin is a good manjatin is a good man'

In [12]:
today_quote= 'Jatin is a buhha'
x=today_quote
x

'Jatin is a buhha'

In [14]:
1+2
'1'+'2'

'12'

In [15]:
name=('tushar is a great man and he is also invincible')
name.split('e')

['tushar is a gr', 'at man and h', ' is also invincibl', '']

In [16]:
abc= 'CapAtelise metHod TeSt'
Capitalize_method= abc.capitalize()
print(Capitalize_method)

Capatelise method test

In [18]:
abcd = ".Python is awesome."
len(abcd)
abcd.center(25,'@')

'@@@.Python is awesome.@@@'

In [19]:
string = 'pythön!'
print('The string is:', string)

The string is: pythön!

In [20]:
string_utf = string.encode()
print('The encoded version is:', string_utf)

The encoded version is: b'pyth\xc3\xb6n!'

In [22]:
string.encode()

b'pyth\xc3\xb6n!'

In [23]:
# dictionaries
d={'1':'apple','2':'mango'}
h={'100':'goo','200':'poo'}
c={'mango':'₹50','apple':'₹60','banana':'₹40','melon':'₹80','123':{'1':'apple','2':'mango','poop':{'100':'goo','200':'poo'}}}

In [24]:
c['123']['poop']['100']

'goo'

In [27]:
f={'key1':['a','b','c']}
mylist= f['key1']
print(mylist[2].upper())
print(f['key1'][2].upper())

C
C

In [30]:
f['key1']= 'Tatti'
f

{'key1': 'Tatti'}

In [32]:
# formating 
print('my name is {}'.format('Tushar'))
print('My {1} {0} {2}'.format('is','name','Tushar'))
print('My {n} {i} {t}'.format(i='is',n='name',t='Tushar'))
result=100/7
print(result)
# float formatting follows"value:width.percision f"
print('The result was {r:2.2f}'.format(r=result))

my name is Tushar
My name is Tushar
My name is Tushar
14.285714285714286
The result was 14.29

In [34]:
s1='My friends names are'
s2='Tushar'
s3='Harhsit'
s4='Sameer'
s5='Jatin'
print(s1 + ' {h}, {s}, {j}.'.format(h=s3,s=s4,j=s5))
name = 'Tushar'
print('My name is {}'.format(name))

My friends names are Harhsit, Sameer, Jatin.
My name is Tushar

In [35]:
name = 'Tushar'
age = '22'
print(f'{name} is {age} years old')

Tushar is 22 years old

In [39]:
print(14%8)
print(5//2)
print('Python {}'.format('rules'))

6
2
Python rules

In [40]:
#lists

In [41]:
my_list=[1,2,3,4,5]
my_list1=['string',101,40.2]
print(len(my_list))
print(len(my_list1))

5
3

In [42]:
list1=['one','two','three']
list2=['four','five','six']
list1+list2

['one', 'two', 'three', 'four', 'five', 'six']

In [46]:
new=list1+list2
new_list= []
new.pop()

'six'

In [47]:
new

['one', 'two', 'three', 'four', 'five']

In [52]:
new.pop(2)
print(new)
new[0]='my stinky butt'
print(new)

IndexError: pop index out of range

In [53]:
new = ['one', 'two', 'five', 'six', 'seven']

In [54]:
new.insert(2,'three')

In [55]:
new

['one', 'two', 'three', 'five', 'six', 'seven']

In [56]:
new.insert(3,'four')

In [57]:
new

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [58]:
new.remove('two')

In [59]:
new

['one', 'three', 'four', 'five', 'six', 'seven']

In [60]:
new.pop(3)

'five'

In [61]:
new.insert(1,'two')
new.insert(4,'five')
new

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [62]:
new.extend(['eight','nine'])
new

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [63]:
cool=['six','seven']
new.extend(cool)
new

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'six',
 'seven']

In [64]:
prime_numbers=[2,3,5,7]
high=prime_numbers.copy()
print(high)
print(prime_numbers)

[2, 3, 5, 7]
[2, 3, 5, 7]

In [65]:
new_list=['j','r','u','e','v','j','w','p','z','a','g']
num_list=[1,2,5,6,3,2,5,8,0,8,5]
new_list.sort()
print(new_list)
print(num_list)

['a', 'e', 'g', 'j', 'j', 'p', 'r', 'u', 'v', 'w', 'z']
[1, 2, 5, 6, 3, 2, 5, 8, 0, 8, 5]